# -------------------------------
# Environment & Secrets
# -------------------------------
.env
*.env

# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
.Python
*.pyc

# -------------------------------
# Virtual Environment
# -------------------------------
myevn/
venv/
env/
.venv/

# -------------------------------
# Database
# -------------------------------
*.db
*.sqlite
*.sqlite3
test.db

# -------------------------------
# Logs
# -------------------------------
*.log
app.log
log.txt
logs/

# -------------------------------
# Testing
# -------------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------------
# Alembic
# -------------------------------
alembic/versions/*.pyc

# -------------------------------
# Docker
# -------------------------------
docker-compose.override.yml

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# OS
# -------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------
# Misc
# -------------------------------